* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins";
}
header {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7)
    url(https://images.unsplash.com/photo-1580904506207-b6319133a68f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-blend-mode: darken;
}
.navbar {
  position: absolute;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
}
.navbar a {
  color: white;
  margin: auto auto auto 5px;
}
a:hover {
  color: #d86eff;
}
.navbar .logo {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 0%;
}
.navbar .nav-links ul {
  display: flex;
}
.navbar .nav-links ul li {
  margin: 0 20px;
}
.icon {
  width: 50px;
  align-items: center;
}
.title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #d86eff;
  font-size: 6em;
}
.fem {
  color: #b2e04a;
  font-family: "Dancing Script", cursive;
}
.fem2 {
  font-family: "Dancing Script", cursive;
}
.greeting {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  color: white;
  font-size: 4em;
}
.ps {
  text-align: center;
  padding-top: 50px;
}
.content1 {
  min-height: 100vh;
}
.fem2:hover {
  color: #b2e04a;
}
.touche {
  font-family: "Raleway", sans-serif;
  color: #d86eff;
}
.touche2 {
  font-family: "Raleway", sans-serif;
}
.touche2:hover {
  color: #b2e04a;
}
.newlogo {
  display: block;
  align-items: center;
  position: absolute;
  top: 28.04%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.newlogoc {
  display: block;
  align-items: center;
  position: absolute;
  top: 28.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: myfirst 1.5s infinite linear;
  animation-duration: 10s;
}
nav .menu {
  display: none;
  position: absolute;
  width: 35px;
  top: 40px;
  right: 30px;
}

@keyframes myfirst {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media screen and (max-width: 1322px) {
  .title {
    font-size: 4em;
  }
  .greeting {
    font-size: 3em;
  }
}
@media screen and (max-width: 920px) {
  a {
    font-size: 0.9rem;
  }
  .navbar .nav-links ul li {
    margin: 0 7px;
  }
}
@media screen and (max-width: 887px) {
  .title {
    font-size: 3em;
  }
  .greeting {
    font-size: 2em;
  }
  div .newlogo {
    width: 25%;
    height: auto;
  }
  div .newlogoc {
    width: 27%;
    height: auto;
  }
}
@media screen and (max-width: 740px) {
  .title {
    top: 43%;
  }
  .greeting {
    top: 43%;
  }
}
@media screen and (max-width: 722px) {
  nav .menu {
    display: block;
  }
  .nav-links {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #3b4b1567;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: -100%;
  }
  .nav-links.mobile-menu {
    margin: 0;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin: 25px 0;
  }

  .navbar .nav-links ul li .nav-text {
    font-size: 1.5em;
    font-weight: bold;
  }
  .nav-links ul .right {
    display: none;
  }
}
@media screen and (max-width: 669px) {
  .title {
    font-size: 2.3em;
  }
  .greeting {
    font-size: 1.5em;
  }
}
